@use "global" as *;
.arrow-box__inner {
  display: block;
  // width: rem(45);
  // height: rem(45);
  // width: 100%;
  width: rem(1280);
  height: 100%;
  // background-color: #fff;

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
